@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/********************** ROOT VARIABLES **********************/
body {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,.18);
    --color-light-1: rgba(58, 69, 171, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-background1: rgb(234,234,248);
    --nav-toggle-background-gray: rgb(207,207,214);
    
    --card-border-radius: 2rem;
    --border-radius-1: .4rem;
    --border-radius-2: .8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.2rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 1rem 1rem var(--color-light);
    --box-shadow-1: 0 1rem 2rem var(--color-light-1);
    --container-padding: 1rem;
    --header-height: 3rem;
    --nav-menu-index: 100;
    --nav-menu-width: 4rem;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: var(--color-dark);
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body.dark-theme-variables {
    --color-background: #181a1e;
    --color-background1: #000;
    --color-white: #202528 !important;
    --color-dark: #edeffd !important;
    --color-dark-variant: #a3bdcc !important;
    --color-light: rgba(0,0,0,.4) !important;
    --color-light-1: rgb(0,0,0);
    --box-shadow: 0 1rem 1rem var(--color-light) !important;
}

.container {
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
}
.color-white {
    color: var(--color-white) !important;
}
.color-dark {
    color: var(--color-dark);
}
.color-warning {
    color: var(--color-warning);
}
.color-primary {
    color: var(--color-primary);
}
.color-primary-variant {
    color: var(--color-primary-variant);
}
.color-success {
    color: var(--color-success);
}
.color-danger {
    color: var(--color-danger);
}
.color-primary-bg {
    background-color: var(--color-primary) !important;
}
.color-danger-bg {
    background-color: var(--color-danger) !important;
}
.color-success-bg {
    background-color: var(--color-success) !important;
}
.stroke-primary {
    stroke: var(--color-primary);
}
.stroke-danger {
    stroke: var(--color-danger);
}
.stroke-success {
    stroke: var(--color-success);
}
.section__title {
    margin-bottom: .6rem;
}

/*********************** NAVBAR ***********************/

.nav,
.nav__profile-theme-toggle,
.nav__profile,
.nav__theme-toggle {
    display: flex;
    align-items: center;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    justify-content: space-between;
    box-shadow: 0 .2rem .5rem var(--color-light);
    background-color: var(--color-white);
    z-index: var(--nav-menu-index);
}
.nav__profile-theme-toggle {
    column-gap: .8rem;
}
.nav__menu-btn {
    cursor: pointer;
}
.nav__menu-icon {
    display: block;
}
.profile__img {
    display: block;
    width: 2.2rem;
    border-radius: 50%;
}
.nav__theme-toggle {
    position: relative;
    column-gap: 0;
    background-color: var(--color-background1);
    border-radius: .3rem;
}
.nav__light-theme-toggle,
.nav__dark-theme-toggle,
.nav__theme-toggle-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    width: 1.9rem;
    height: 1.35rem;
    cursor: pointer;
}
.nav__theme-toggle-background {
    position: absolute;
    top: 0;
    transition: .2s;
    z-index: 1;
}
.nav__light-theme-toggle {
    color: #fff;
}
.nav__light-theme-toggle,
.nav__dark-theme-toggle {
    z-index: 1;
}
.nav__theme-toggle-icon {
    display: block;
    font-size: 1rem;
    transition: .2s;
}
.nav__profile-text {
    display: none;
}

/**************************** NAV MENU ****************************/

.nav__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: calc(210px + 5vw);
    padding: 0rem .9rem 2.5rem 0;
    background-color: var(--color-white);
    z-index: var(--nav-menu-index);
    transition: .3s;
}
.nav__menu-top {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--container-padding);
    margin-bottom: 1.5rem;
}
.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .7rem;
}
.nav__logo-img {
    display: block;
    width: 1.5rem;
}
.nav__logo-text {
    font-size: 1rem;
    font-weight: 900;
    color: var(--color-dark);
}
.nav__close-btn {
    cursor: pointer;
}
.nav__close-btn-icon {
    display: block;
    font-size: 1.23rem;
}
.nav__link {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: .7rem;
    color: var(--color-dark-variant);
    height: 3.5rem;
    padding-left: 1.7rem;
}
.nav__link:hover,
.nav__link:focus {
    background-color: var(--color-background);
    color: var(--color-primary);
}
.nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .35rem;
    height: 100%;
    background-color: transparent;
}
.nav__link:hover::before,
.nav__link:focus::before {
    background-color: var(--color-primary);
}
.nav__link-icon {
    font-size: 1.25rem;
}
.nav__link-text {
    font-size: .72rem;
}
.nav__link-count {
    display: none;
    margin-left: auto;
    font-size: .6rem;
    color: var(--color-white);
    padding: .1rem .5rem;
    background-color: var(--color-danger);
    border-radius: .3rem;
}
#nav-link-messages-count {
    display: inline-block;
}
.nav__logout {
    display: block;
    margin-top: auto;
}

/*************************** HOME ***************************/

.dashboard {
    padding-top: calc(var(--header-height) + 2.5rem);
    padding-bottom: var(--header-height);
}
.dashboard__container,
.right {
    display: grid;
    row-gap: 6rem;
}
.dashboard__title-container {
    margin-bottom: .8rem;
}
.dashboard__title {
    margin-bottom: .5rem;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
input[type="date" i] {
    font-family: "Poppins",sans-serif;
    font-size: .7rem;
    letter-spacing: 1px;
    color: var(--color-dark);
    background-color: var(--color-background1);
    border: none;
    padding: .2rem 1.1rem;
    border-radius: .3rem;
    width: fit-content;
}
input[type="date" i]:focus {
    outline: 2px solid var(--color-primary);
}
.dashboard__stats {
    display: grid;
    row-gap: .8rem;
}
.dashboard__card {
    background-color: var(--color-white);
    border-radius: var(--border-radius-3);
    padding: var(--card-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    transition: .25s;
}
.dashboard__card:hover {
    box-shadow: var(--box-shadow-1);
}
.dashboard__card .circular-chart {
    width: 7rem;
    height: 7rem;
}
.dc__donut-graph-circle-bg {
    fill: none;
    stroke: var(--color-background);
    stroke-width: 4.8;
}
.dc__donut-graph-circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
}
.dc__donut-graph-percentage {
    font-size: .3rem;
    fill: var(--color-dark);
    text-anchor: middle;
}
.dashboard__card-icon-container {
    width: fit-content;
    padding: .5rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}
.dashboard__card-icon {
    display: block;
    font-size: 1.5rem;
    color: white;
}
.dashboard__card-title {
    font-size: .92rem;
    margin-bottom: .5rem;
}
.dashboard__card-numbers {
    font-weight: 900;
    font-size: 1.45rem;
    margin-bottom: 1.2rem;
}
.dashboard__card-updated-date {
    font-size: .65rem;
    color: var(--color-info-dark)
}

/********************** RECENT ORDERS **********************/

.ro__table-header-product-name,
.ro__table-product-details,
.ro__table-product-name {
    display: none;
}
.recent__orders,
.recent__updates,
.sales__analytics {
    position: relative;
}
.section__title {
    position: absolute;
    top: -2.6rem;
}
.ro__container {
    padding: var(--card-padding);    
    background-color: var(--color-white);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: .3s;
}
.ro__container:hover {
    box-shadow: var(--box-shadow-1);
}
.ro__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.ro__table-header,
.ro__table td {
    font-size: .72rem;
}
.ro__table-header {
    font-weight: 600;
    height: 1.6rem;
}
.ro__table td {
    border-bottom: 1px solid var(--color-background1);
    height: 2.6rem;    
}
.ro__table-product-row:nth-last-of-type(1) td {
    border: none;
}
.ro__show-all-link {
    font-size: .75rem;
    display: block;
    width: fit-content;
    margin: 1rem auto 0 auto;
    color: var(--color-primary);
    padding: .3rem;
    transition: .25s;
}
.ro__show-all-link:hover {
    color: #545eba;
}

/**************************** RECENT UPDATES ****************************/

.ru__container {
    display: grid;
    background-color: var(--color-white);
    border-radius: var(--border-radius-3);
    padding: var(--card-padding);
    row-gap: .8rem;
    box-shadow: var(--box-shadow);
    transition: .3s;
}
.ru__container:hover {
    box-shadow: var(--box-shadow-1);
}
.ru__content {
    display: flex;
    column-gap: .8rem;
}
.ru__profile-img-container {
    width: 2.5rem;
    height: 100%;
}
.ru__profile-img {
    border-radius: 50%;
}
.ru__content-text {
    flex-basis: 100%;
    font-size: .72rem;
}
.ru__content-text p {
    margin-bottom: .3rem;
}
.ru__content-text span {
    font-size: .6rem;
    color: var(--color-dark-variant)
}

/************************* SALES ANALYTICS *************************/

.sa__container {
    display: grid;
    row-gap: .7rem;
}
.sa__content,
.sa__link {
    background-color: var(--color-white);
    border-radius: var(--border-radius-2);
    padding-right: var(--card-padding);
    padding-left: var(--card-padding);
    box-shadow: var(--box-shadow);
    height: 4.5rem;
    display: flex;
    align-items: center;
    font-size: .72rem;
    transition: .3s;
}
.sa__content:hover,
.sa__link:hover {
    box-shadow: var(--box-shadow-1);
}
.sa__content-icon-container {
    width: 35.53px;
    height: 35.53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .7rem;
}
.sa__content-icon {
    font-size: 1rem;
    color: var(--color-white);
}
.sa__content-title {
    font-weight: 800;
}
.sa__content-time {
    font-size: .6rem;
    color: var(--color-dark-variant);
    margin-top: .3rem;
}
.sa__content-percent {
    font-size: .67rem;
    margin-left: auto;
}
.sa__content-order-number {
    margin-left: auto;
}
.sa__link {
    position: relative;
    height: 3.6rem;
    background-color: transparent;
    outline: 2px dashed var(--color-primary);
    outline-offset: -2px;
    justify-content: center;
    box-shadow: none;
    color: var(--color-primary);
    column-gap: .6rem;
    font-size: .76rem;
    font-weight: 600;
    overflow-x: hidden;
    z-index: 1;
}
.sa__link span {
    display: inline-block;
    margin-bottom: .5px;
    font-size: 1.3rem;
}
.sa__link::before {
    content: "";
    outline: 2px solid var(--color-primary);
    outline-offset: -2px;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
    background-color: var(--color-primary);
    z-index: -1;
    transition: .3s;
}
.sa__link:hover {
    color: #fff;
}
.sa__link:hover::before {
    left: 0;
}

/***************** MEDIA QUERIES *****************/

@media screen and (min-width: 360px) {
    body {
        --card-padding: 1.5rem;
    }
    .dashboard__title {
        font-size: 2rem;
    }
    .dashboard__container,
    .right {
        row-gap: 7rem;
    }
    .dashboard__card-donut-graph {
        transform: scale(1);
    }
    .dashboard__card-numbers {
        font-size: 1.65rem;
    }
    input[type="date" i] {
        padding: .3rem 1.5rem;
    }
    .section__title {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .ru__content {
        column-gap: 1rem;
    }
}

@media screen and (min-width: 768px) {
    body {
        --header-height: 3.2rem;
        --container-padding: 1.5rem;
        --box-shadow: 0 1rem 1.5rem var(--color-light);
        --box-shadow-1: 0 1rem 2rem var(--color-light-1);
    }
    .nav__profile-theme-toggle {
        column-gap: 1.62em;
    }
    .nav__profile {
        column-gap: .8rem;
    }
    .nav__profile-text {
        display: block;
        font-size: .75rem;
    }
    .nav__profile-name {
        font-weight: bold;
    }
    .nav__profile-stats {
        font-size: .7rem;
    }
    .profile__img {
        width: 2.9rem;
    }
    .nav__logo-img {
        width: 2.1rem;
    }
    .nav__logo-text {
        font-size: 1.2rem;
    }
    .nav__close-btn-icon {
        font-size: 1.3rem;
    }
    .nav__link-icon {
        font-size: 1.55rem;
    }
    .nav__link-text {
        font-size: .78rem;
    }
    .nav__link-count {
        font-size: .63rem;
        padding: .15rem .55rem;
    }
    .dashboard__title-container {
        margin-bottom: 1rem;
    }
    .dashboard__container {
        grid-template-columns: .52fr .48fr;
        column-gap: 1.5rem;
    }
    .dashboard__stats {
        gap: 1rem;
    }
    .right {
        grid-area: 1 / 2;
        row-gap: 2rem;
    }
    .recent__orders {
        grid-area: 2 / 1 / span 1 / span 2;
    }
}

@media screen and (min-width: 810px) {
    body {
        --header-height: 4.5rem;
    }
    .nav {
        position: absolute;
        box-shadow: none;
        background-color: initial;
        z-index: initial;
    }
    .nav__menu {
        height: max(100vh, 700px);
        width: var(--nav-menu-width);
        left: 0;
        padding: 0rem 0 2.5rem 0;
        background-color: transparent;
        transition: .3s;
    }
    .nav__menu-top {
        justify-content: center;
        padding: 0;
    }
    .nav__link {
        padding-left: 0;
        justify-content: center;
    }
    .nav__link-text,
    #nav-link-messages-count,
    .nav__logo-text,
    .nav__close-btn,
    .nav__menu-btn {
        display: none;
    }
    .nav__link:hover,
    .nav__link:focus {
        background-color: var(--color-white);
    }
    .nav__profile-theme-toggle {
        margin-left: auto;
    }
    .dashboard {
        margin-left: var(--nav-menu-width);
        padding-top: 0;
        margin-top: .7rem;
    }
    .ro__table-header-product-name,
    .ro__table-product-name {
        display: table-cell;
    }
}
@media screen and (min-width: 1200px) {    
    body {
        --nav-menu-width: calc(10rem + 1.5vw);
    }
    .ro__table-product-details {
        display: table-cell;
    }
    .dashboard__container {
        grid-template-columns: auto 16rem;
        column-gap: 1rem;
    }
    .right {
        grid-area: 1 / 2 / span 2 / span 1;
        row-gap: 0;
    }
    .recent__orders {
        grid-area: 2 / 1 / span 1 / span 1;
    }
    .dashboard__container {
        row-gap: 4.5rem;
    }
    .container {
        padding-left: 1rem;
    }
    .dashboard__stats {
        grid-template-columns: repeat(3,1fr);
        column-gap: .8rem;
    }
    .dashboard__card {
        column-gap: .8rem;
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }
    .dashboard__card-title {
        font-size: .85rem;
    }
    .dashboard__card-numbers {
        font-size: 1.5rem;
    }
    .dashboard__card .circular-chart {
        width: 5rem;
        height: 5rem;
    }
    .sales__analytics {
        margin-top: -2rem;
    }
    .sa__content-order-number {
        margin-left: .8rem;
    }
    .nav__link,
    .nav__menu-top {
        justify-content: initial;
    }
    .nav__menu-top {
        padding-left: var(--container-padding);
    }
    .nav__link {
        display: flex;
        padding-left: 1.7rem;
        padding-right: 1rem;
    }
    .nav__link-text,
    .nav__logo-text,
    #nav-link-messages-count {
        display: initial;
    }
    .ro__table-header,
    .ro__table td {
        font-size: .77rem;
    }
    .ro__table-header {
        font-weight: 700;
    }
    .ro__table td {
        height: 3.1rem;
    }
}
@media screen and (min-width: 1300px) {
    body {
        --container-padding: 2rem;
        --nav-menu-width: calc(11.5rem + 1.5vw);
    }
    .nav__menu {
        padding-left: 1rem;
    }
    .dashboard__container {
        grid-template-columns: auto 18rem;
        column-gap: 1.5rem;
    }
    .sa__content-title {
        font-size: .77rem;
    }
    .sa__content-order-number {
        font-size: .77rem;
    }
    .sa__content-percent {
        font-size: .75rem;
    }
}